.itemPage {
  margin-top: 160px;
}
.itemOfferDetails {
  margin: 20px;
}
.label {
  display: flex;
  font-weight: 600;
}

.locationElm:before {
  content: '';
  background-image: url(../../img/location.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.userNameElm:before {
  content: '';
  background-image: url(../../img/user.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.itemImg {
  border-radius: 4px;
  background-color: #212529;
}
.locationElm,
.userNameElm {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.itemOfferDetails img {
  width: 100%;
  object-fit: contain;
  object-position: 50% 0;
  max-height: 400px;
}
.itemTextElm {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #212529;
  margin-bottom: 5px;
}
.itemText {
  line-height: 1.1em;
  word-wrap: break-word;
}
.mailBtnElm {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (min-width: 576px) {
  .itemOfferDetails {
    display: flex;
    flex-direction: row;
  }
  .itemOfferDetails img {
    width: 50%;
  }
  .itemSubscription {
    margin-left: 10px;
    width: 40%;
  }
  .itemOfferDetails img {
    max-height: 500px;
  }
}
@media screen and (min-width: 992px) {
  .itemOfferDetails,
  .itemsOverviewElm {
    width: 992px;
    margin: 0 auto;
  }
}

.deactivatedItem {
  margin-top: 150px;
}
