.itemPage {
  margin-top: 170px;
}
.itemOfferDetails,
.bookedItem {
  margin: 20px;
}

.backTo {
  display: flex;
  flex-direction: row;
  width: 16%;
  text-decoration: none;
  color: #212529;
  max-height: 40px;
}
.backTo span {
  margin-left: 0;
  font-size: 12px;
}
.backToBullet {
  width: 100%;
}
.backTo:hover,
.backTo:focus {
  color: #ec6333;
}
.label {
  display: flex;
  font-weight: 600;
}

.locationElm:before {
  content: '';
  background-image: url(../../img/location.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.userNameElm:before {
  content: '';
  background-image: url(../../img/user.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.itemImg {
  border-radius: 4px;
  background-color: #212529;
}
.locationElm,
.userNameElm {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.itemOfferDetails img {
  width: 100%;
  object-fit: contain;
  object-position: 50% 0;
  max-height: 400px;
}
.itemTextElm {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid #212529;
  margin-bottom: 5px;
}
.itemText {
  line-height: 1.1em;
  word-wrap: break-word;
}
.mailBtnElm {
  display: flex;
  flex-direction: row-reverse;
}

.deactivatedItem {
  margin-top: 170px;
}
.deletedItem img {
  filter: grayscale(100%);
}
.bookedItem:before {
  content: '';
  background-image: url(../../img/reserved.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 50%;
  bottom: -160px;
  position: absolute;
}

@media screen and (min-width: 576px) {
  .itemOfferDetails,
  .bookedItem {
    display: flex;
    flex-direction: row;
  }
  .backTo {
    flex-direction: column-reverse;
  }
  .backTo span {
    margin-left: 30px;
    margin-bottom: -10px;
  }
  .itemOfferDetails img {
    width: 50%;
  }
  .itemSubscription {
    margin-left: 10px;
    width: 40%;
  }

  .bookedItem:before {
    bottom: -170px;
  }
}
@media screen and (min-width: 992px) {
  .itemPage,
  .itemOfferDetails,
  .itemsOverviewElm {
    width: 992px;
    margin: 0 auto;
  }
  .itemPage {
    margin-top: 170px;
  }
}
