.detailItem {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 5px 10px;
}

.categoryDetailElm .itemImg {
  width: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.categoryDetailElm .itemImg img {
  height: 300px;
  max-width: 300px;
  border-radius: 4px;
  object-fit: contain;
  object-position: 50% 50%;
}

.itemTitle,
.itemUser,
.itemCity {
  text-decoration: none;
  color: #212529;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.itemTitle {
  font-size: 20px;
  font-weight: 600;
}
.itemCity:before {
  content: '';
  background-image: url(../img/location.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.itemUser:before {
  content: '';
  background-image: url(../img/user.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .categoryDetailElm.itemImg {
    width: 49%;
  }
}
@media screen and (min-width: 992px) {
  .categoryDetailElm.itemImg {
    width: 24%;
  }
}
