.categoryDetail {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}
.categoryDetailElm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .categoryDetail {
    width: 992px;
    margin: 0 auto;
    margin-top: 170px;
  }
}
