.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  width: 100%;
}
.headerFirst {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.logo_male {
  width: 60%;
}
.logo_male a {
  width: 50%;
}

.headerBtn {
  width: 50%;
  margin: 0;
  display: flex;
}
.headerBtn a {
  text-decoration: none;
}
.headerBtn button {
  color: #212529;
  font-weight: 400;
  background-color: #dee2e6;
  border: solid 1px #212529;
}
