.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #dee2e6;
  z-index: 999999;
}
.headerFirst {
  width: 90%;
  display: flex;
  margin: 20px auto;
  flex-direction: row;
  justify-content: space-between;
}

.logo_male {
  width: 150px;
}
.headerBtn {
  margin: 0;
}
.headerBtn button {
  padding: 10px;
  font-size: 25px;
}
.headerBtn button::first-letter {
  font-size: 30px;
}

.headerBtn a {
  text-decoration: none;
}
@media screen and (min-width: 576px) {
  .logo_male {
    width: 200px;
  }
}
