.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #dee2e6;
}
.headerFirst {
  width: 90%;
  display: flex;
  margin: 20px auto;
  flex-direction: row;
  justify-content: space-between;
}

.logo_male {
  width: 150px;
}
.headerBtn {
  margin: 0;
}

.headerBtn a {
  text-decoration: none;
}
.headerBtn button {
  color: #212529;
  font-weight: 400;
  background-color: #dee2e6;
  border: solid 1px #212529;
  padding: 10px;
}
.headerBtn button:hover {
  background-color: #ec6333;
  border: solid 1px #212529;
}
@media screen and (min-width: 576px) {
  .logo_male {
    width: 200px;
  }
  .headerBtn button {
    padding: 20px;
  }
}
