.offerPage {
  margin-top: 160px;
}
.formStyle {
  width: 90%;
  padding: 0 30px;
  margin: 0 auto;
  background: #dee2e6;
  border-radius: 4px;
}
.formStyle .inner-wrap {
  padding: 20px 0;
  border-radius: 4px;
}
.formStyle label {
  display: block;
  color: #212529;
  margin-bottom: 20px;
}
.formStyle input:required:invalid,
.formStyle textarea:required:invalid {
  border-bottom: 2px solid #ec6333;
}
.formStyle input[type='text'],
.formStyle input[type='date'],
.formStyle input[type='datetime'],
.formStyle input[type='email'],
.formStyle input[type='number'],
.formStyle input[type='search'],
.formStyle input[type='time'],
.formStyle input[type='url'],
.formStyle input[type='password'],
.formStyle textarea,
.formStyle select {
  font-family: 'Roboto', Helvetica, sans-serif;
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.formStyle .section {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
}

.formStyle .section span {
  background: #ec6333;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  margin-left: -40px;
  color: #dee2e6;
  margin-top: -3px;
}
.formStyle input[type='button'],
.formStyle input[type='submit'] {
  background: #212529;
  padding: 10px;
  border-radius: 4px;
  color: #dee2e6;
  font-size: 20px;
  text-transform: uppercase;
}
.formStyle input[type='button']:hover,
.formStyle input[type='submit']:hover {
  background: #ec6333;
}
.privacy-policy {
  float: right;
  width: 45%;
  font-size: 0.8rem;
  color: #212529;
  text-align: right;
  line-height: 1em;
}
.privacy-policy a {
  text-decoration: none;
}
.btnSection {
  margin-bottom: 20px;
}
.formNote {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}
.innerWrapCategory {
  display: flex;
  flex-direction: column;
}
.radioElm {
  display: flex;
  flex-direction: row;
}

.radio {
  display: flex;
  margin: 5px;
  flex-wrap: wrap;
}

.radio label {
  padding-right: 10px;
  margin-bottom: 5px;
}

textarea {
  height: 150px;
}
textarea::placeholder,
input::placeholder {
  color: #212529;
  opacity: 50%;
}
@media screen and (min-width: 576px) {
  textarea {
    height: 100px;
  }
  .privacy-policy {
    width: 60%;
  }
}
