.aboutUsPage {
  margin: 20px;
  margin-top: 170px;
}
.aboutUsPage p {
  margin: 20px auto;
}
.logo_contact {
  display: flex;
  flex-direction: row;
}
.logoElm {
  width: 80%;
}
.czechitasLogo,
.pipedriveLogo {
  width: 20%;
}

@media screen and (min-width: 992px) {
  .aboutUsPage {
    width: 992px;
    margin: 20px;
    margin-top: 170px;
  }
}
