fieldset {
  position: relative;
  display: inline-block;
  padding: 0 0 0 40px;
  background: #fff;
  border: solid 2px #212529;
  border-radius: 4px;
}
.searchAndInfos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.infoBtn {
  height: 50px;
  width: 50px;
  box-sizing: border-box;
  background-color: #dee2e6;
}
.infoBtn:hover {
  background-color: #ec6333;
}
.questionMark {
  height: 2.5rem;
}
.searchForm {
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.searchInput,
.searchBtn {
  position: relative;
  width: 300px;
  height: 35px;
  padding: 0;
  float: left;
}

.searchInput {
  color: #212529;
  z-index: 2;
  border: 0 none;
  font-size: 25px;
}
.searchInput:focus {
  outline: 0 none;
}
.searchInput:focus + .searchBtn {
  transform: translate(0, 0);
  transition-duration: 0.3s;
}
.searchInput:focus + .searchBtn .fa {
  transform: translate(0px, 0);
  transition-duration: 0.3s;
  color: #fff;
}

.searchBtn {
  z-index: 1;
  width: 50px;
  border: 0 none;
  background: #ec6333;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  transform: translate(-155px, 0);
  transition-duration: 0.3s;
  box-sizing: border-box;
}

.fa-search {
  font-size: 1.4rem;
  color: #212529;
  z-index: 3;
  top: 25%;
  transform: translate(-190px, 0);
  transition-duration: 0.3s;
  transition: all 0.1s ease-in-out;
}
.searchInput + .searchBtn .fa {
  content: url(../img/search.png);
  height: 30px;
}
