.searchForm {
  float: right;
  width: 100%;
}
fieldset {
  border: 1px solid #212529;
  padding: 0;
  margin: 0;
  border-radius: 4px;
}
.searchForm input[type='text'] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.searchInput {
  width: 80%;
  font-size: 25px;
  border: none;
}

.searchBtn {
  float: right;
  background: #ec6333;
  border: none;
  cursor: pointer;
  width: 20%;
  margin: 0;
  padding: 0;
  border-radius: 0 4px 4px 0;
}
.searchInput + .searchBtn .fa {
  content: url(../img/search.png);
  height: 30px;
}
@media screen and (min-width: 992px) {
  .searchForm {
    width: 50%;
  }
  .searchForm input[type='text'] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  .searchInput {
    width: 80%;
    font-size: 25px;
    line-height: 30px;
    border: none;
  }

  .searchBtn {
    float: right;
    background: #ec6333;
    border: none;
    cursor: pointer;
    width: 20%;
    margin: 0;
    padding: 0;
    border-radius: 0 4px 4px 0;
  }
  .searchInput + .searchBtn .fa {
    content: url(../img/search.png);
    height: 30px;
  }
}
