button {
  background-color: #212529;
  color: #dee2e6;
  font-family: 'Roboto', Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}

button:hover,
button:focus {
  color: #ec6333;
}

.largeBtn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.largeBtn button {
  font-size: 25px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 20px;
}
