button {
  background-color: #212529;
  color: #dee2e6;
  font-family: 'Roboto', Helvetica, sans-serif;
  border-radius: 4px;
  box-shadow: none;
  border: none;
}

button:hover,
button:focus {
  color: #ec6333;
}

.largeBtn {
  display: flex;
  margin: 0 20px;
}

.largeBtn button {
  font-size: 25px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 20px;
  font-weight: 400;
}
.largeBtn.categoryBtn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.largeBtn.categoryBtn button {
  font-size: 15px;
  padding: 10px;
  margin-bottom: 10px;
}
