*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: #212529;
  font-family: 'Roboto', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #dee2e6;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  font-size: 15px;
}
.logo {
  display: flex;
  flex-direction: row-reverse;
}
.logo_velke {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: -3rem;
}

h1 {
  color: #ec6333;
  text-align: center;
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
}

h2 {
  color: #dee2e6;
  background-color: #212529;
  text-align: left;
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 45px;
  margin: 0 auto;
  padding: 5px 0 5px 15px;
  line-height: 45px;
}

h3 {
  font-family: 'Amatic SC', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 5vw;
  text-align: center;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 100px;
    line-height: 100px;
  }
}
/*h2 {
    font-size: 80px;
    line-height: 85px;
  }
  h3 {
    font-size: 5vw;
  } 
}*/

.left {
  max-width: 200px;
  margin-left: -50px;
  margin-top: -50px;
}

/* swapRules */

.swap_lists {
  font-size: 18px;
  line-height: 2em;
  padding-right: 20px;
}

.swap_demand,
.swap_offer {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.swap_demand li,
.swap_offer li {
  position: relative;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.swap_demand li::before {
  content: ' ';
  background-image: url('img/left_li_bullet.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
}

.swap_offer li::before {
  content: ' ';
  background-image: url('img/right_li_bullet.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 34px;
  position: absolute;
  left: 0;
  top: 0;
}
@media screen and (min-width: 992px) {
  .mediaQueries {
    width: 992px;
    margin: 0 auto;
  }
}
/* konec swapRules */

/* kategorie */
.breadcrumbsBtn {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

/* konec kategorie */

/* detail položky */
.itemOfferDetails {
  display: flex;
  flex-direction: column;
}

.userNameOffer {
  margin: 10px;
  font-style: italic;
}

.userNameOffer:hover,
.userNameOffer:focus {
  color: #ec6333;
}
/* konec detailu položky */
/* homepage*/
.mainPage {
  display: flex;
  flex-direction: column;
}

.homepageImg {
  max-width: 100%;
  bottom: 0;
}
/* konec homepage*/
